@import './reset.css';
@import './layout.css';
@import './components.css';

/* common */
.visual-blind {
	position: absolute;
	width: 1px;
	height: 1px;
	padding: 0;
	margin: -1px;
	border: 0;
	overflow: hidden;
	clip: rect(0,0,0,0);
	white-space: nowrap;
}
h2 {
  font-size: 24px;
  font-weight: 600;
  color: var(--black-to-white);
  margin-bottom: 20px;
  position: relative;
}

/* popup - header 출퇴근 진행중 팝업 */
.popup-layer {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 10000;
}
.popup-layer .popup-content {
  position: relative;
  color: #454545;
  padding: 60px;
  width: 800px;
  max-height: 600px;
  border-radius: 20px;
  background: #fff;
}
.popup-layer .popup-content h3 {
  text-align: center;
  font-size: 20px;
  margin-bottom: 30px;
  color: var(--black-to-white);
}
.popup-layer .popup-content table th,
.popup-layer .popup-content table td {
  border: 1px solid #fff;
  padding: 10px 15px;
  text-align: left;
  background: #f3f3f3;
}
.popup-layer .popup-content table th {
  padding: 10px 15px;
  height: 40px;
}
.popup-layer .popup-content table td {
  padding: 0 15px;
  height: 40px;
}
.popup-layer .popup-content table.list tr:first-child td {
  border-top: none;
}
.popup-layer .popup-content table tr th:first-child,
.popup-layer .popup-content table tr td:first-child {
  border-bottom-left-radius: 10px;
  border-top-left-radius: 10px;
}
.popup-layer .popup-content table tr th:last-child,
.popup-layer .popup-content table tr td:last-child {
  border-bottom-right-radius: 10px;
  border-top-right-radius: 10px;
}
.popup-layer .popup-content .scroll {
  max-height: 321px;
  overflow: auto;
}
.popup-layer .popup-content .device-icon {
  display: inline-block;
  vertical-align: middle;
  margin-right: 8px;
  margin-bottom: 2px;
}
.popup-layer .popup-content .btn-bar {
  margin-top: 40px;
  text-align: center;
}
.popup-layer .popup-content .btn-bar .btn {
  border-radius: 5px;
  height: 40px;
  line-height: 38px;
  min-width: 100px;
  margin: 0 5px;
}
.popup-layer .popup-content .btn-bar .btn-retry {
  background: var(--black-to-white);
  color: var(--white-to-black);
}
.popup-layer .popup-content .btn-bar .btn-close {
  background: #f3f3f3;
  color: #acacac;
}
.mode-dark .popup-layer .popup-content {
  background-color: #33333e;
}
.mode-dark .popup-layer .popup-content table th,
.mode-dark .popup-layer .popup-content table td {
  border-color: #33333e;
  background-color: #1d1d29;
  color: #fff;
}
.mode-dark .popup-layer .popup-content .btn-bar .btn-close {
  background-color: #1d1d29;
  color: #7b7b7b;
}

/* device 공통 */
/* -- icon */
.device-icon {
  display: block;
  width: 32px;
  height: 32px;
  position: relative;
  background-repeat: no-repeat;
  background-position-y: 0;
  background-image: url('../images/dashboard/light/device-icon.png');
}
.device-icon.on {
  background-position-y: -32px;
}
.device-icon.error:before {
  content: '';
  display: block;
  width: 12px;
  height: 12px;
  position: absolute;
  right: 0;
  top: 2px;
  background: url('../images/dashboard/light/device-error.png');
}
.device-icon.type-projector {
  background-position-x: 0;
}
.device-icon.type-display {
  background-position-x: -33px;
}
.device-icon.type-conditioner {
  background-position-x: -66px;
}
.device-icon.type-purifier {
  background-position-x: -99px;
}
.device-icon.type-styler {
  background-position-x: -132px;
}
.device-icon.type-golf {
  background-position-x: -165px;
}
.device-icon.type-lighting {
  background-position-x: -198px;
}
.mode-dark .device-icon {
  background-image: url('../images/dashboard/dark/device-icon.png');
}

/* -- widget */
.widget {
  position: relative;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  align-content: space-between;
}
.widget .title {
  height: 65px;
  position: relative;
  flex: 0 0 100%;
  border-bottom: 1px solid #e9e9e9;
}
.widget .title h3 {
  font-size: 14px;
  font-weight: 500;
  color: var(--black-to-white);
  padding-top: 5px;
}
.widget .title .comp-chk {
  position: absolute;
  right: 0;
  top: 0;
}
.widget .content {
  flex: 0 0 100%;
}
.widget .content .comp-range .bar {
  margin-bottom: -3px;
}
.widget .comp-select {
  font-size: 12px;
}
.widget .comp-select + .comp-select {
  margin-top: 4px;
}
.widget.status-off .title h3 {
  color: #c2c4c5;
}
.widget.status-off .content {
  opacity: 0.7;
}
.widget .content .select-row .label {
  font-size: 12px;
  font-weight: 400;
  color: #868788;
  display: block;
  margin-bottom: 2px;
}
.widget .content .select-row + .select-row {
  margin-top: 8px;
}
.mode-dark .widget .title {
  border-color: #3d3d3d;
}
.mode-dark .widget.status-off .title h3 {
  color: #646573;
}

/* -- projector */
.widget-projector .comp-range.type-bright {
  margin-top: 5px;
  margin-bottom: 10px;
}

/* -- display */
.widget-display .comp-range.type-bright {
  margin-top: 5px;
  margin-bottom: 60px;
}

/* -- conditioner */
.widget-conditioner .comp-set {
  margin-bottom: 56px;
}
.widget-conditioner .comp-set h4 {
  margin-bottom: 2px;
}
.widget-conditioner .comp-set .status {
  font-size: 22px;
  font-weight: 500;
  margin-bottom: 18px;
}
.widget-conditioner.status-off .content .status {
  opacity: 0.7;
}
.widget-conditioner.status-off .comp-set a {
  cursor: default;
}

/* -- purifier */
.widget-purifier .status {
  margin-bottom: 38px;
}
.widget-purifier .status .current {
  font-size: 22px;
  font-weight: 500;
  margin-top: 7px;
  display: inline-block;
  padding-right: 28px;
  text-transform: uppercase;
}
.widget-purifier .status h4 {
  font-size: 12px;
  font-weight: 500;
  color: #868788;
  margin: 0;
}
.widget-purifier .current {
  background-repeat: no-repeat;
  background-position: right bottom;
}
.widget-purifier .current.type-good {
  color: #3f75ff;
  background-image: url('../images/dashboard/light/purifier-status-good.png');
}
.widget-purifier .current.type-normal {
  color: #17b75e;
  background-image: url('../images/dashboard/light/purifier-status-normal.png');
}
.widget-purifier .current.type-bad {
  color: #ffbc11;
  background-image: url('../images/dashboard/light/purifier-status-bad.png');
}
.widget-purifier .current.type-worst {
  color: #ff2f2f;
  background-image: url('../images/dashboard/light/purifier-status-worst.png');
}

/* -- styler */
.widget-styler h4 {
  font-size: 12px;
  font-weight: 500;
  color: #868788;
  margin: 0;
}
.widget-styler .control {
  display: flex;
  margin-bottom: 7px;
}
.widget-styler .control a {
  display: block;
  width: 26px;
  height: 26px;
  margin-right: 3px;
  background-repeat: no-repeat;
  background-position: 0 0;
  background-image: url('../images/dashboard/light/styler-control.png');
}
.widget-styler .control a.btn-play {
  background-position: left bottom;
}
.widget-styler .content .select-row .label {
  margin-bottom: 4px;
}
.widget-styler .status {
  margin-top: 20px;
}
.widget-styler .status h4 {
  margin-bottom: 6px;
}
.widget-styler .status .current {
  display: block;
  font-size: 22px;
  font-weight: 500;
  text-transform: uppercase;
  color: var(--black-to-white);
}
.widget-styler .time {
  border-radius: 10px;
  background: #f3f3f3;
  height: 84px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  align-content: center;
  margin-top: 40px;
}
.widget-styler .time h4 {
  flex-basis: 100%;
  text-align: center;
}
.widget-styler .time .current {
  font-size: 22px;
  font-weight: 500;
  color: var(--black-to-white);
  margin-top: 4px;
}
.widget-styler.status-off .status .current {
  opacity: 0.3;
}
.widget-styler.status-off .control a {
  opacity: 0.3;
}
.mode-dark .widget-styler .time {
  background-color: #34343e;
}
.mode-dark .widget-styler .control a {
  background-image: url('../images/dashboard/dark/styler-control.png');
}

/* -- golf */
.widget-golf h4 {
  font-size: 12px;
  font-weight: 500;
  color: #868788;
  margin: 0;
}
.widget-golf .control {
  display: flex;
  justify-content: space-between;
  gap: 3px;
  margin-top: 8px;
}
.widget-golf .control a {
  display: block;
  border-radius: 10px;
  height: 40px;
  background: #f3f3f3;
  font-size: 16px;
  font-weight: 600;
  color: #868788;
  flex: 0 1 50%;
  padding-top: 10px;
}
.widget-golf .control a.btn-start {
  background-color: #868788;
  color: #fff;
}
.widget-golf .time {
  border-radius: 10px;
  background: #f3f3f3;
  height: 84px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  align-content: center;
  margin-top: 24px;
}
.widget-golf .time h4 {
  flex-basis: 100%;
  text-align: center;
}
.widget-golf .time .current {
  font-size: 22px;
  font-weight: 500;
  color: var(--black-to-white);
  margin-top: 4px;
}
.widget-golf.status-off .control a {
  opacity: 0.3;
}
.mode-dark .widget-golf .time {
  background-color: #34343e;
}
.mode-dark .widget-golf .control a.btn-start {
  background-color: #646573;
}
.mode-dark .widget-golf .control a.btn-stop {
  background-color: #34343e;
  color: #646573;
}

/* -- lighting */
.widget-lighting h4 {
  font-size: 12px;
  font-weight: 500;
  margin-bottom: 10px;
  color: var(--black-to-white);
}
.widget-lighting .content .unit + .unit {
  margin-top: 30px;
}
.widget-lighting.status-off .comp-set .control a {
  cursor: default;
}

/* -- robot */
.widget-robot {
  height: 230px;
  border-radius: 14px;
  padding: 18px 20px 20px;
  background: var(--primary-bg-color);
  border: 1px solid var(--primary-bg-color);
}
.widget-robot h3 {
  padding-top: 32px;
  display: block;
  width: 270px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  font-size: 14px;
  font-weight: 500;
  color: var(--black-to-white);
}
.widget-robot h4 {
  font-size: 14px;
  font-weight: 400;
  color: #868788;
  margin: 0 0 5px;
}
.widget-robot .top {
  width: 100%;
  height: 60px;
  border-bottom: 1px solid #e9e9e9;
  position: relative;
  margin-bottom: 10px;
  background-repeat: no-repeat;
  background-position: 0 0;
  background-image: url('../images/dashboard/light/device-robot.png');
}
.widget-robot .top .battery {
  position: absolute;
  right: 0;
  top: 0;
  display: flex;
  align-items: center;
}
.widget-robot .top .battery .text {
  font-size: 11px;
  font-weight: 500;
  margin-right: 3px;
  color: var(--black-to-white);
}
.widget-robot .top .battery .icon {
  width: 20px;
  height: 21px;
  background: url('../images/dashboard/light/robot-battery.png') no-repeat 0 0;
  position: relative;
}
.widget-robot .top .battery .icon .inner {
  width: 12px;
  position: absolute;
  top: 8px;
  left: 3px;
  overflow: hidden;
}
.widget-robot .top .battery .icon .inner span {
  display: block;
  height: 4.5px;
  background: #c2c4c5;
}
.widget-robot .status {
  margin-bottom: 20px;
  width: 100%;
}
.widget-robot .status .spot {
  font-size: 18px;
  font-weight: 600;
  color: var(--black-to-white);
}
.widget-robot .status .spot .at {
  display: flex;
  align-items: center;
}
.widget-robot .status .spot .addon {
  font-size: 14px;
  font-weight: 500;
  color: var(--black-to-white);
  display: inline-block;
  vertical-align: top;
  margin: 2px 5px 0 0;
}
.widget-robot .move {
  width: 100%;
}
.widget-robot .move .comp-select {
  font-size: 14px;
  height: 29px;
}
.widget-robot .move .go {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 29px;
}
.widget-robot .move .btn-move {
  flex: 0 0 100px;
  height: 100%;
  color: #fff;
  font-size: 14px;
  font-weight: 400;
  border-radius: 6px;
  text-align: center;
  background: #acacac;
  padding-top: 6px;
  margin-left: 6px;
}
.widget-robot.charging .spot {
  color: #17B75E;
}
.widget-robot.standby .spot {
  color: #ffbc11;
}
.widget-robot.error .spot {
  color: #ff2f2f;
}
.widget-robot.return .spot {
  color: #3f75ff;
}
.widget-robot.error {
  border-color: #ff2f2f;
}
.widget-robot.error:before {
  content: '';
  display: block;
  width: 21px;
  height: 20px;
  background: url('../images/dashboard/light/dot-error.png') no-repeat 0 0;
  position: absolute;
  right: 17px;
  top: -10px;
}
.mode-dark .widget-robot .top {
  border-color: #3d3d3d;
  background-image: url('../images/dashboard/dark/device-robot.png');
}
.mode-dark .widget-robot .move .btn-move {
  background-color: #34343e;
}
.mode-dark .comm-robot .link-control {
  background-color: #34343e;
}
.mode-dark .comm-robot .content li .status .current {
  background-color: rgba(255, 255, 255, 0.2);
}

/* 오른쪽 common area */
.comm-box {
  border-radius: 20px;
  background: var(--primary-bg-color);
  min-height: 206px;
  margin-bottom: 8px;
  padding: 20px;
  position: relative;
  display: flex;
}
.comm-box:before {
  content: '';
  display: block;
  position: absolute;
  width: 32px;
  height: 32px;
  left: 20px;
  top: 30px;
  background-repeat: no-repeat;
  background-position: left bottom;
}
.comm-box .title {
  flex: 0 0 80px;
  margin-right: 10px;
}
.comm-box .title h3 {
  font-size: 14px;
  font-weight: 500;
  line-height: 18px;
  color: var(--black-to-white);
}
.comm-box .content {
  flex: 1 1 auto;
}
.comm-box .content .comp-select {
  margin-bottom: 4px;
  font-size: 12px;
}
.comm-box .content .comp-select:last-child {
  margin-bottom: 0;
}
.comm-box .content .select-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.comm-box .content .select-row + .select-row {
  margin-top: 4px;
}
.comm-box .content .select-row .label {
  flex: 0 0 75px;
  font-size: 12px;
  font-weight: 400;
  color: #868788;
}
.comm-box .content .select-row .comp-select {
  flex: 1 1 auto;
}
.comm-box.status-off h3 {
  opacity: 0.3;
}
.comm-box.status-off:before {
  background-position: left top;
}

/* -- widget custom */
.comm-box .widget {
  flex-wrap: nowrap;
}
.comm-box .widget .title {
  flex: 0 0 80px;
  margin-right: 10px;
  border: none;
  height: auto;
  padding-top: 10px;
}
.comm-box .widget .title h3 {
  margin-bottom: 45px;
  word-break: keep-all;
  width: 50px;
}
.comm-box .widget .comp-chk {
  left: 0;
  top: 110px;
}
.comm-box .widget .content {
  display: flex;
  flex-wrap: wrap;
  flex: 0 0 205px;
}
.comm-box .widget .content .comp-range .bar {
  margin-bottom: -1px;
}
.comm-box .widget .content .select-row {
  width: 100%;
}
.comm-box .widget .content .select-row .label {
  display: block;
}
.comm-display .widget .select-row {
  order: 1;
}
.comm-display .widget .comp-range.type-vol {
  order: 2;
  margin-top: 27px;
}
.comm-display .widget .comp-range.type-bright {
  order: 3;
  margin-bottom: 0;
}
.comm-purifier .widget .status {
  margin-bottom: 30px;
}
.comm-conditioner .widget .comp-set {
  margin-bottom: 33px;
}
.comm-conditioner .widget .comp-set h4 {
  margin-bottom: 0;
}

/* -- robot */
.comm-robot:before {
  width: 26px;
  height: 26px;
  left: 47px;
  top: 30px;
  background-image: url('../images/dashboard/light/device-robot.png');
}
.comm-robot h3 {
  margin: 41px 0 10px;
}
.comm-robot .title {
  text-align: center;
}
.comm-robot .count {
  font-size: 30px;
  font-weight: 600;
  color: var(--black-to-white);
}
.comm-robot .content ul {
  display: flex;
  gap: 4px;
}
.comm-robot .content li {
  flex: 0 0 67px;
  height: 115px;
  position: relative;
  border-radius: 10px;
  overflow: hidden;
  display: table;
  padding-top: 55px;
  background: #f3f3f3;
}
.comm-robot .content li h4 {
  font-weight: 500;
  z-index: 2;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  font-size: 12px;
  top: 10px;
  color: var(--black-to-white);
  white-space: nowrap;
}
.comm-robot .content li .status {
  display: table-cell;
  vertical-align: bottom;
}
.comm-robot .content li .status .count {
  width: 100%;
  font-size: 18px;
  font-weight: 500;
  text-align: center;
  margin-bottom: 4px;
}
.comm-robot .content li .status .current {
  width: 100%;
  background: rgba(17, 18, 30, 0.2);
  display: table;
}
.comm-robot .content li:last-child .status .count {
  color: #d40d0d;
}
.comm-robot .link-control {
  border-radius: 10px;
  text-align: center;
  display: block;
  width: 300px;
  height: 34px;
  position: absolute;
  font-weight: 500;
  padding-top: 8px;
  bottom: 20px;
  background: #f3f3f3;
  color: var(--black-to-white);
}
.mode-dark .comm-robot:before {
  background-image: url('../images/dashboard/dark/device-robot.png');
}
.mode-dark .comm-robot .content li {
  background-color: rgba(255, 255, 255, 0.1);
}
/* -- robot 한개일 때 별도 custom */
.comm-robot-only {
  padding: 0;
}
.comm-robot-only .widget-robot {
  flex-wrap: wrap;
  height: auto;
}
.comm-robot-only .widget-robot h3 {
  margin: 0;
}
.comm-robot-only .widget-robot .status {
  margin-bottom: 10px;
}
.comm-robot-only .widget-robot .top {
  height: 54px;
  margin-bottom: 8px;
}

/* dashboard */
#page-dashboard {
  width: 100%;
  max-width: 100%;
  overflow: auto;
}
#page-dashboard section {
  width: 1284px;
}
#page-dashboard .slider-wrap {
  position: relative;
  margin-bottom: 40px;
}
#page-dashboard .slider-wrap ul {
  display: flex;
}
#page-dashboard .slider-wrap li {
  flex: 0 0 25%;
}
#page-dashboard .slider-wrap .btn-slider-prev,
#page-dashboard .slider-wrap .btn-slider-next {
  width: 20px;
  height: 200px;
  display: none;
  position: absolute;
  top: 0;
}
#page-dashboard .slider-wrap .btn-slider-prev {
  background: linear-gradient(270deg, #fff 0%, rgba(255, 255, 255, 0) 100%);
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  left: 0;
}
#page-dashboard .slider-wrap .btn-slider-next {
  background: linear-gradient(90deg, #fff 0%, rgba(255, 255, 255, 0) 100%);
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  right: 0;
}
#page-dashboard .slider-wrap .btn-slider-prev:before,
#page-dashboard .slider-wrap .btn-slider-next:before {
  content: '';
  display: block;
  width: 14px;
  height: 8px;
  position: absolute;
  top: 48%;
  background-repeat: no-repeat;
  background-position: 0 0;
  background-image: url('../images/layout/light/slider-control.png');
}
#page-dashboard .slider-wrap .btn-slider-prev:before {
  left: 0;
  transform: rotate(90deg);
}
#page-dashboard .slider-wrap .btn-slider-next:before {
  right: 0;
  transform: rotate(270deg);
}
#page-dashboard .slider-wrap .btn-slider-prev.end,
#page-dashboard .slider-wrap .btn-slider-next.end {
  cursor: default;
}
#page-dashboard .slider-wrap .btn-slider-prev.end:before,
#page-dashboard .slider-wrap .btn-slider-next.end:before {
  opacity: 0.3;
}
#page-dashboard .slider-wrap li:last-child .count-box {
  margin-right: 0;
}
#page-dashboard .slider-wrap.active {
  padding: 0 28px;
}
#page-dashboard .slider-wrap.active .btn-slider-prev,
#page-dashboard .slider-wrap.active .btn-slider-next {
  display: block;
}
#page-dashboard .sec-status [class$='-box'] {
  min-height: 200px;
  margin-right: 8px;
  border-radius: 14px;
  background: var(--primary-bg-color);
  text-align: center;
  padding: 20px;
}
#page-dashboard .sec-status [class$='-box'] h3 {
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 20px;
  color: var(--black-to-white);
}
#page-dashboard .sec-status .count-box h3 {
  margin-bottom: 35px;
}
#page-dashboard .sec-status .count-box .row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: var(--black-to-white);
  max-width: 200px;
  margin: 0 auto;
  position: relative;
}
#page-dashboard .sec-status .count-box .row:before {
  content: '';
  width: 68px;
  height: 1px;
  position: absolute;
  left: 28%;
  top: 50%;
  background-repeat: no-repeat;
  background-position: 50% 0;
  background-image: url('../images/dashboard/light/status-count-line.png');
}
#page-dashboard .sec-status .count-box .row + .row {
  margin-top: 28px;
}
#page-dashboard .sec-status .count-box h4 {
  font-size: 16px;
  font-weight: 500;
  text-align: left;
  flex: 0 0 50px;
  white-space: nowrap;
}
#page-dashboard .sec-status .count-box .count {
  font-size: 26px;
  font-weight: 500;
  white-space: nowrap;
  flex: 0 0 70px;
  text-align: right;
  color: #ff2f2f;
}
#page-dashboard .sec-status .count-box .count .addon {
  font-size: 14px;
  font-weight: 400;
  color: #868788;
  margin-left: 4px;
  display: inline-block;
  vertical-align: middle;
}
.mode-dark #page-dashboard .sec-status .count-box .row:before {
  background-image: url('../images/dashboard/dark/status-count-line.png');
}
.mode-dark #page-dashboard .slider-wrap .btn-slider-prev:before,
.mode-dark #page-dashboard .slider-wrap .btn-slider-next:before {
  background-image: url('../images/layout/dark/slider-control.png');
}
.mode-dark #page-dashboard .slider-wrap .btn-slider-prev {
  background: linear-gradient(270deg, #1d1d29 0%, rgba(29, 29, 41, 0) 100%);
}
.mode-dark #page-dashboard .slider-wrap .btn-slider-next {
  background: linear-gradient(90deg, #1d1d29 0%, rgba(29, 29, 41, 0) 100%);
}

/* -- common control bar */
#page-dashboard .control-bar {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  position: relative;
  margin-bottom: 17px;
  padding-top: 3px;
}
#page-dashboard .control-bar .tab {
  position: absolute;
  left: 0;
  top: 0;
  padding-right: 33px;
}
#page-dashboard .control-bar .tab ul {
  width: 280px;
  height: 42px;
  border-radius: 12px;
  background: #fff;
  display: flex;
  color: #c2c4c5;
  font-size: 18px;
  align-items: center;
}
#page-dashboard .control-bar .tab li {
  flex: 0 0 50%;
  border-radius: 12px;
  text-align: center;
  cursor: pointer;
  height: 100%;
  padding-top: 10px;
  font-weight: 400;
}
#page-dashboard .control-bar .tab li.active {
  background: #69b2ff;
  color: #fff;
  font-weight: 600;
}
#page-dashboard .control-bar .tab .guide {
  position: absolute;
  right: 0;
  bottom: 3px;
}
#page-dashboard .control-bar .tab .guide .icon {
  font-size: 12px;
  font-weight: 700;
  color: #646573;
  border: 1px solid #646573;
  border-radius: 40px;
  width: 23px;
  height: 23px;
  display: block;
  padding-top: 4px;
  text-align: center;
  transition: all 0.3s;
}
#page-dashboard .control-bar .tab .guide .layer {
  background: #646573;
  position: absolute;
  left: -9px;
  bottom: 35px;
  border-radius: 12px;
  visibility: hidden;
  opacity: 0;
  transition: all 0.3s;
  padding: 14px 14px 14px 34px;
  font-size: 12px;
  color: #fff;
  white-space: nowrap;
}
#page-dashboard .control-bar .tab .guide .layer:before {
  content: '';
  display: block;
  position: absolute;
  left: 13px;
  bottom: -6px;
  width: 0;
  height: 0;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-top: 10px solid #646573;
  border-radius: 10px;
}
#page-dashboard .control-bar .tab .guide .layer:after {
  content: '';
  display: block;
  width: 12px;
  height: 12px;
  background: url('../images/dashboard/light/device-error.png') no-repeat 0 0;
  position: absolute;
  left: 14px;
  top: 50%;
  transform: translateY(-50%);
}
#page-dashboard .control-bar .tab .guide:hover .layer {
  visibility: visible;
  opacity: 1;
}
#page-dashboard .control-bar .tab .guide:hover .icon {
  background-color: #646573;
  color: #fff;
}
#page-dashboard .control-bar .status {
  display: flex;
  align-items: center;
}
#page-dashboard .control-bar .status li {
  color: #7b7b7b;
  font-size: 16px;
  padding-left: 14px;
  margin-left: 14px;
  position: relative;
}
#page-dashboard .control-bar .status li:before {
  content: '';
  display: block;
  width: 1px;
  height: 10px;
  background: #7b7b7b;
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
}
#page-dashboard .control-bar .status li:first-child:before {
  display: none;
}
#page-dashboard .control-bar .status li.active {
  color: #11121e;
  font-weight: 600;
}
#page-dashboard .control-bar .display {
  margin: 0 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 124px;
}
#page-dashboard .control-bar .display li {
  flex: 0 0 36px;
  height: 36px;
  cursor: pointer;
  background-repeat: no-repeat;
  background-position: left top;
  background-position-y: 0;
  background-image: url('../images/dashboard/light/control-display.png');
}
#page-dashboard .control-bar .display li.type-list {
  background-position-x: 0;
}
#page-dashboard .control-bar .display li.type-card {
  background-position-x: -36px;
}
#page-dashboard .control-bar .display li.type-dot {
  background-position-x: -72px;
}
#page-dashboard .control-bar .display li.active {
  background-position-y: -36px;
}
#page-dashboard .control-bar .comp-select {
  width: 220px;
  height: 36px;
  border-radius: 10px;
  font-size: 16px;
  padding: 5px 40px 5px 15px;
  background-color: var(--primary-bg-color);
  background-repeat: no-repeat;
  background-position: right 50%;
  background-image: url('../images/comp/light/select-arrow-big.png');
}
.mode-dark #page-dashboard .control-bar .tab ul {
  background-color: #1d1f2f;
  color: #484952;
}
.mode-dark #page-dashboard .control-bar .status li:before {
  background-color: #484952;
}
.mode-dark #page-dashboard .control-bar .status li {
  color: #484952;
}
.mode-dark #page-dashboard .control-bar .status li.active {
  color: #fff;
}
.mode-dark #page-dashboard .control-bar .display li {
  background-image: url('../images/dashboard/dark/control-display.png');
}
.mode-dark #page-dashboard .control-bar .comp-select {
  background-image: url('../images/comp/dark/select-arrow-big.png');
}

/* -- type-list */
.dashboard-list,
.dashboard-card,
.dashboard-dot {
  overflow-x: hidden;
  overflow-y: auto;
  max-height: calc(100vh - 460px);
}
.dashboard-list .bundle {
  margin-bottom: 8px;
  border-radius: 12px;
  background: #e9e9e9;
  position: relative;
}
.dashboard-list .fold {
  width: 1232px;
  background: #fff;
  border-radius: 12px;
  height: 52px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.dashboard-list .fold .left {
  flex: 0 0 270px;
  display: flex;
  align-items: center;
}
.dashboard-list .fold .center {
  flex: 1;
  text-align: center;
}
.dashboard-list .fold .right {
  flex: 0 0 195px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.dashboard-list .fold .btn-move {
  display: block;
  position: relative;
  cursor: pointer;
  flex: 0 0 50px;
  height: 50px;
}
.dashboard-list .fold .btn-move:before {
  content: '';
  display: block;
  width: 3px;
  height: 17px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateY(-50%);
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-image: url('../images/dashboard/light/list-move.png');
}
.dashboard-list .fold .num {
  font-size: 16px;
  font-weight: 500;
  color: #11121e;
  flex: 1 0 100px;
  padding-left: 6px;
}
.dashboard-list .fold .use {
  flex: 0 0 92px;
  display: flex;
  align-items: center;
}
.dashboard-list .fold .device {
  display: flex;
  width: 430px;
  justify-content: space-between;  
  margin: 0 auto;
}
.dashboard-list .fold .device .device-icon {
  cursor: pointer;
}
.dashboard-list .fold .time {
  color: #868788;
  position: relative;
}
.dashboard-list .fold .time.on {
  color: #ff2f2f;
}
.dashboard-list .fold .time .addon {
  color: #868788;
  margin-right: 12px ;
}
.dashboard-list .fold .time.type-limit {
  color: #ff2f2f;
}
.dashboard-list .fold .btn-hide {
  flex: 0 0 24px;
  height: 24px;
  margin-right: 24px;
  cursor: pointer;
  background-repeat: no-repeat;
  background-position: left top;
  background-image: url('../images/dashboard/light/icon-hide.png');
}
.dashboard-list .fold .btn-hide.on {
  background-position: left bottom;
}
.dashboard-list .fold .btn-toggle {
  width: 52px;
  height: 52px;
  cursor: pointer;
  position: absolute;
  right: 0;
  top: 0;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-image: url('../images/dashboard/light/list-toggle.png');
}
.dashboard-list .expand {
  padding: 0 0 20px 17px;
  display: none;
}
.dashboard-list .expand ul {
  display: flex;
  flex-wrap: wrap;
  gap: 4px;
}
.dashboard-list .expand li {
  flex: 0 0 174px;
  height: 355px;
  background: var(--primary-bg-color);
  border-radius: 10px;
  padding: 23px 10px 18px;
}
.dashboard-list .bundle.active .fold {
  background: #e9e9e9;
}
.dashboard-list .bundle.active .fold .device {
  display: none;
}
.dashboard-list .bundle.active .fold .btn-toggle {
  transform: rotate(180deg);
}
.dashboard-list .bundle.active .expand {
  display: block;
}
.dashboard-list .bundle.status-out .fold .time {
  opacity: 0.3;
}
.dashboard-list .bundle.status-out .fold .btn-move:before {
  opacity: 0.3;
}
.mode-dark .dashboard-list .fold {
  background-color: #1d1d29;
}
.mode-dark .dashboard-list .bundle,
.mode-dark .dashboard-list .bundle.active .fold {
  background-color: #33333e;
}
.mode-dark .dashboard-list .fold .num {
  color: #fff;
}
.mode-dark .dashboard-list .fold .btn-move:before {
  background-image: url('../images/dashboard/dark/list-move.png');
}
.mode-dark .dashboard-list .fold .btn-hide {
  background-image: url('../images/dashboard/dark/icon-hide.png');
}
.mode-dark .dashboard-list .fold .btn-toggle {
  background-image: url('../images/dashboard/dark/list-toggle.png');
}

/* -- type-card */
.dashboard-card ul {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}
.dashboard-card .bundle {
  flex: 0 0 16%;
  height: 380px;
  background: var(--primary-bg-color);
  border-radius: 10px;
  box-shadow: 2px 2px 6px 0px rgba(0, 0, 0, 0.04);
  padding: 54px 25px 20px;
  position: relative;
}
.dashboard-card .bundle.active .fold {
  display: none;
}
.dashboard-card .num {
  font-size: 16px;
  font-weight: 500;
  color: var(--black-to-white);
  position: absolute;
  left: 25px;
  top: 18px;
}
.dashboard-card .btn-back {
  display: block;
  width: 27px;
  height: 26px;
  background-repeat: no-repeat;
  background-position: 0 0;
  background-image: url('../images/dashboard/light/card-back.png');
  cursor: pointer;
  position: absolute;
  right: 25px;
  top: 14px;
}
.dashboard-card .fold .scroll {
  max-height: 260px;
  overflow-y: auto;
}
.dashboard-card .fold ul {
  display: flex;
  gap: 1%;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}
.dashboard-card .fold li {
  flex: 0 0 49%;
  height: 60px;
  background: #f3f3f3;
  border-radius: 6px;
  margin-bottom: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.dashboard-card .fold .comp-onoff {
  position: absolute;
  right: 0;
  top: -2px;
}
.dashboard-card .fold .time-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 4px;
  padding-top: 26px;
  position: relative;
}
.dashboard-card .fold .time {
  font-size: 12px;
  font-weight: 400;
  color: #868788;
}
.dashboard-card .fold .time.on {
  color: #ff2f2f;
}
.dashboard-card .fold .time .addon {
  margin-right: 4px;
  color: #868788;
}
.dashboard-card .fold .btn-hide {
  flex: 0 0 24px;
  height: 24px;
  margin-right: 24px;
  cursor: pointer;
  margin: 0;
  background-repeat: no-repeat;
  background-position: left top;
  background-image: url('../images/dashboard/light/icon-hide.png');
}
.dashboard-card .fold .btn-hide.on {
  background-position: left bottom;
}
.dashboard-card .bundle.status-out .fold .time {
  opacity: 0.3;
}
.dashboard-card .widget .title .comp-chk {
  top: 17px;
}
.mode-dark .dashboard-card .fold li {
  background-color: #33333e;
}
.mode-dark .dashboard-card .btn-back {
  background-image: url('../images/dashboard/dark/card-back.png');
}
.mode-dark .dashboard-card .fold .btn-hide {
  background-image: url('../images/dashboard/dark/icon-hide.png');
}

/* -- type-dot */
.dashboard-dot ul {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5%;
  padding-top: 6px;
}
.dashboard-dot li {
  flex: 0 0 12%;
  display: block;
  border-radius: 16px;
  height: 74px;
  margin-bottom: 14px;
  background: var(--primary-bg-color);
  border: 1px solid var(--primary-bg-color);
  color: var(--black-to-white);
  font-size: 16px;
  font-weight: 500;
  padding: 17px 20px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
.dashboard-dot li .num {
  margin-bottom: 4px;
}
.dashboard-dot li .time {
  font-size: 13px;
  font-weight: 400;
  flex: 0 0 100%;
}
.dashboard-dot li.out {
  background-color: rgba(194, 196, 197, 0.3);
  border: none;
  color: #c2c4c5;
  justify-content: center;
}
.dashboard-dot li.out .time {
  display: none;
}
.dashboard-dot li .time.on {
  color: #ff2f2f;
  padding-left: 18px;
  position: relative;
}
.dashboard-dot li .time.on:before {
  content: '';
  display: block;
  width: 13px;
  height: 12px;
  background: url('../images/dashboard/light/icon-time.png') no-repeat 0 0;
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-55%);
}
.dashboard-dot li.error {
  border: 1px solid #ff2f2f;
  background-color: rgba(255, 47, 47, 0.04);
  position: relative;
}
.dashboard-dot li.error:before {
  content: '';
  display: block;
  width: 21px;
  height: 20px;
  background: url('../images/dashboard/light/dot-error.png') no-repeat 0 0;
  position: absolute;
  right: -1px;
  top: -8px;
}
.mode-dark .dashboard-dot li.out {
  background-color: #33333e;
  color: #484952;
}
.mode-dark .dashboard-dot li.error {
  background-color: rgba(255, 47, 47, 0.06);
}

/* page-setting */
#page-setting {
  width: 100%;
  max-width: 100%;
  overflow: auto;
}
#page-setting h2 {
  margin-bottom: 25px;
  width: 1644px;
}
#page-setting .btn-save {
  font-size: 16px;
  font-weight: 500;
  min-width: 150px;
  height: 36px;
  line-height: 36px;
  display: block;
  border-radius: 10px;
  position: absolute;
  right: 0;
  top: 0;
  transition: all 0.3s;
  background: var(--black-to-white);
  color: var(--white-to-black);
}
#page-setting .btn-save:disabled {
  background-color: #acacac;
  color: #d8d8d8;
}
#page-setting section {
  border-radius: 14px;
  margin-bottom: 20px;
  padding: 24px 80px;
  background: var(--primary-bg-color);
  width: 1644px;
}
#page-setting .row {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  width: 1644px;
}
#page-setting h3 {
  font-size: 20px;
  font-weight: 500;
  color: var(--black-to-white);
  padding: 0 0 15px;
  border-bottom: 1px solid #e9e9e9;
  margin: 0 0 20px;
  text-align: left;
}
#page-setting .sec-system ul {
  display: flex;
  gap: 5%;
  flex-wrap: wrap;
}
#page-setting .sec-system li {
  flex: 0 0 30%;
  position: relative;
  margin-top: 20px;
  margin-bottom: 20px;
}
#page-setting .sec-system h4 {
  font-size: 16px;
  font-weight: 600;
  margin: 0 0 20px;
  color: var(--black-to-white);
}
#page-setting .sec-system .badge-ok {
  position: absolute;
  right: 0;
  top: -5px;
  color: #868788;
  font-size: 12px;
  font-weight: 500;
  border: 1px solid #868788;
  border-radius: 30px;
  min-width: 100px;
  height: 28px;
  text-align: center;
  padding-top: 6px;
}
#page-setting .sec-system .info-id,
#page-setting .sec-system .info-pw {
  width: 100%;
  height: 30px;
  margin-bottom: 6px;
  display: flex;
  align-items: center;
  padding-left: 10px;
  color: var(--black-to-white);
}
#page-setting .sec-system input[type=text],
#page-setting .sec-system input[type=password] {
  width: 100%;
  border-radius: 6px;
  padding: 7px 10px;
  margin-bottom: 6px;
  background: var(--second-bg-color);
}
#page-setting .sec-system .btn-login,
#page-setting .sec-system .btn-logout {
  font-size: 14px;
  font-weight: 500;
  height: 30px;
  line-height: 28px;
  border-radius: 6px;
  display: block;
  width: 100%;
}
#page-setting .sec-system .btn-logout {
  color: #acacac;
  background-color: var(--second-bg-color);
}
#page-setting .sec-system .btn-login {
  background-color: var(--black-to-white);
  color: var(--white-to-black);
  transition: all 0.3s;
}
#page-setting .sec-system .btn-login:disabled {
  background-color: #acacac;
  color: #fff;
}
#page-setting .sec-lang,
#page-setting .sec-theme {
  text-align: center;
}
#page-setting .sec-room h4 {
  font-size: 16px;
  font-weight: 500;
  color: #868788;
  margin-right: 55px;
}
#page-setting .sec-room .view {
  margin-bottom: 30px;
}
#page-setting .sec-room .view h4 {
  display: inline-block;
}
#page-setting .sec-room .data h4 {
  margin-bottom: 14px;
}
#page-setting .sec-room .control-bar {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-bottom: 14px;
  position: relative;
  padding-right: 5px;
}
#page-setting .sec-room .control-bar .search {
  width: 380px;
  height: 36px;
  margin-right: 10px;
  border-radius: 10px;
  position: relative;
  background: var(--second-bg-color);
}
#page-setting .sec-room .control-bar .comp-select {
  width: 180px;
  height: 36px;
  font-size: 14px;
  color: #868788;
  padding-left: 18px;
  border-radius: 10px;
  position: absolute;
  left: 0;
  top: 0;
  background-image: url('../images/comp/light/select-arrow-big.png');
  background-color: var(--second-bg-color);
}
#page-setting .sec-room .control-bar .search input[type=text] {
  width: 85%;
  height: 100%;
  padding: 5px 18px;
  font-size: 14px;
}
#page-setting .sec-room .control-bar .search button {
  width: 36px;
  height: 36px;
  background: url('../images/setting/light/icon-search.png') no-repeat 50% 50%;
  position: absolute;
  right: 10px;
  top: 0;
}
#page-setting .sec-room .control-bar .btn-add {
  min-width: 86px;
  height: 36px;
  border-radius: 10px;
  border: 1px solid #acacac;
  line-height: 34px;
  position: relative;
  padding-left: 27px;
  color: #acacac;
  background: #fff;
  font-weight: 500;
}
#page-setting .sec-room .control-bar .btn-add:before {
  content: '';
  display: block;
  width: 11px;
  height: 12px;
  position: absolute;
  left: 18px;
  top: 50%;
  transform: translateY(-50%);
  background: url('../images/setting/light/icon-add.png') no-repeat 0 0;
}
#page-setting .sec-room .layout {
  padding-right: 5px;
}
#page-setting .sec-room .layout li {
  display: flex;
  align-items: center;
  gap: 2px;
  height: 44px;
  margin-bottom: 2px;
}
#page-setting .sec-room .layout li .col {
  height: 44px;
  display: flex;
  align-items: center;
  padding: 0 20px;
  color: var(--black-to-white);
  background: var(--second-bg-color);
}
#page-setting .sec-room .layout.title li .col {
  color: #868788;
}
#page-setting .sec-room .layout li .name {
  flex: 1 0 660px;
  border-bottom-left-radius: 10px;
  border-top-left-radius: 10px;
}
#page-setting .sec-room .layout li .create {
  flex: 0 0 220px;
}
#page-setting .sec-room .layout li .edit {
  flex: 0 0 145px;
  justify-content: center;
}
#page-setting .sec-room .layout li .del {
  flex: 0 0 90px;
  justify-content: center;
  border-bottom-right-radius: 10px;
  border-top-right-radius: 10px;
}
#page-setting .sec-room .layout li.title .col {
  color: #868788;
  font-weight: 500;
  justify-content: flex-start;
}
#page-setting .sec-room .name input[type=text] {
  width: 100%;
  height: 100%;
  padding: 5px 0;
}
#page-setting .sec-room .layout li.status-edit .name {
  background: var(--primary-bg-color);
  border: 1px solid var(--second-bg-color);
}
#page-setting .sec-room .btn-edit,
#page-setting .sec-room .btn-ok {
  width: 105px;
  padding: 4px 10px;
  border-radius: 4px;
}
#page-setting .sec-room .btn-edit {
  color: #7b7b7b;
  background: #e2e2e2;
}
#page-setting .sec-room .btn-ok {
  background: var(--black-to-white);
  color: var(--white-to-black);
}
#page-setting .sec-room .btn-del {
  width: 19px;
  height: 19px;
  display: block;
  background: url('../images/setting/light/icon-delete.png') no-repeat 0 0;
}
#page-setting .sec-room .layout.list {
  overflow-x: hidden;;
  overflow-y: auto;
  max-height: calc(30vh);
}
#page-setting .pagination {
  margin-top: 30px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
#page-setting .pagination a {
  width: 28px;
  height: 28px;
  cursor: pointer;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}
#page-setting .pagination .nums {
  margin: 0 6px;
}
#page-setting .pagination .nums a,
#page-setting .pagination .nums strong {
  margin-right: 3px;
  margin-left: 3px;
  padding-top: 6px;
  width: 28px;
  height: 28px;
  border-radius: 5px;
  display: inline-block;
  vertical-align: middle;
  font-size: 14px;
  font-weight: 400;
  color: #868788;
}
#page-setting .pagination .nums strong {
  background: #f3f3f3;
}
#page-setting .pagination .first {
  background-image: url('../images/layout/light/pagination-first.png');
}
#page-setting .pagination .prev {
  background-image: url('../images/layout/light/pagination-prev.png');
}
#page-setting .pagination .next {
  background-image: url('../images/layout/light/pagination-next.png');
}
#page-setting .pagination .last {
  background-image: url('../images/layout/light/pagination-last.png');
}
.mode-dark #page-setting h3 {
  border-color: #3d3d3d;
}
.mode-dark #page-setting .btn-save:disabled {
  background-color: #5c5c5c;
  color: #a9a9a9;
}
.mode-dark #page-setting .sec-system .badge-ok {
  border-color: #34343e;
}
.mode-dark #page-setting .sec-system .btn-logout {
  color: #7b7b7b;
}
.mode-dark #page-setting .sec-room .control-bar .btn-add {
  background: none;
}
.mode-dark #page-setting .sec-room .control-bar .comp-select {
  color: #fff;
  background-image: url('../images/comp/dark/select-arrow-big.png');
}
.mode-dark #page-setting .sec-room .btn-edit {
  color: #868788;
  background-color: #5c5c65;
}

/* login */
#page-login {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
#page-login .box h2 {
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  margin: 0 0 10px;
}
#page-login .box h3 {
  text-align: center;
  font-size: 20px;
  font-weight: 500;
  margin: 0 0 60px;
  color: var(--black-to-white);
}
#page-login .box {
  width: 480px;
  height: 423px;
}
#page-login .input {
  width: 100%;
  height: 50px;
  padding: 5px 30px 5px 70px;
  position: relative;
  background: var(--primary-bg-color);
  border-radius: 10px;
  box-shadow: 2px 2px 4px 0px rgba(0, 0, 0, 0.04);
}
#page-login .input + .input {
  margin-top: 12px;
}
#page-login .input:before {
  content: '';
  display: block;
  position: absolute;
  width: 14px;
  height: 16px;
  left: 20px;
  top: 50%;
  transform: translateY(-50%);
  background-repeat: no-repeat;
  background-position: left 50%;
}
#page-login .input:after {
  content: '';
  display: block;
  width: 1px;
  height: 11px;
  background: #d9d9d9;
  position: absolute;
  left: 52px;
  top: 50%;
  transform: translateY(-50%);
}
#page-login .input.type-id:before {
  background-image: url('../images/layout/light/login-id.png');
}
#page-login .input.type-pw:before {
  background-image: url('../images/layout/light/login-pw.png');
}
#page-login .input input[type=text],
#page-login .input input[type=password] {
  width: 100%;
  height: 100%;
  font-size: 16px;
}
#page-login .guide {
  font-size: 12px;
  font-weight: 300;
  color: #868788;
  line-height: 22px;
  margin: 20px 0 60px;
  text-align: center;
}
#page-login .guide a {
  text-decoration: underline;
}
#page-login .btn-login {
  width: 100%;
  display: block;
  height: 50px;
  border-radius: 10px;
  font-size: 18px;
  font-weight: 500;
  transition: all 0.3s;
  background: var(--black-to-white);
  color: var(--white-to-black);
}
#page-login .btn-login:disabled {
  cursor: default;
  background: #c5c6c8;
}
.mode-dark #page-login .btn-login:disabled {
  background-color: #5c5c65;
  color: #fff;
}
.mode-dark #page-login .input:after {
  background-color: #868788;
}
.mode-dark #page-login .input.type-id:before {
  background-image: url('../images/layout/dark/login-id.png');
}
.mode-dark #page-login .input.type-pw:before {
  background-image: url('../images/layout/dark/login-pw.png');
}

/* robots */
#page-robots {
  width: 100%;
  max-width: 100%;
  overflow: auto;
}
#page-robots section {
  width: 1654px;
}
#page-robots .menu {
  margin-bottom: 10px;
}
#page-robots .menu li {
  display: inline-block;
  margin-right: 20px;
  padding-right: 20px;
  position: relative;
  font-size: 16px;
  font-weight: 500;
  color: #c2c4c5;
  text-transform: capitalize;
}
#page-robots .menu li.active {
  color: #11121e;
}
#page-robots .menu li:before {
  content: '';
  display: block;
  width: 1px;
  height: 12px;
  background: #d9d9d9;
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}
#page-robots .menu li:last-child:before {
  display: none;
}
#page-robots .menu li .count {
  margin-left: 2px;
  position: relative;
}
#page-robots .menu li .count:before {
  content: '(';
}
#page-robots .menu li .count:after {
  content: ')';
}
#page-robots .list {
  overflow-x: hidden;;
  overflow-y: auto;
  max-height: calc(100vh - 200px);
}
#page-robots .list ul {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -4px 20px;
}
#page-robots .list li {
  flex: 0 0 25%;
  padding: 8px 4px 0;
}
.mode-dark #page-robots .menu li {
  color: #868788;
}
.mode-dark #page-robots .menu li:before {
  background-color: #868788;
}
.mode-dark #page-robots .menu li.active {
  color: #fff;
}
.lang-ko .widget-robot .status .spot .num {
  order: 1;
}
.lang-ko .widget-robot .status .spot .addon {
  order: 2;
  margin: 0 0 0 4px;
}
.lang-ko #page-dashboard .sec-status .count-box .row:before {
  left: 40%;
}
.lang-ko .comp-onoff label:before, .comp-onoff label:after {
  font-size: 12px;
}
.lang-ko header .work a {
  font-size: 14px;
  padding-top: 9px;
}
.lang-ko .widget .title h3 {
  font-size: 12px;
}

/* alarm */
#page-alarm {
  width: 100%;
  max-width: 100%;
  overflow: auto;
}
#page-alarm .list {
  overflow-x: hidden;
  overflow-y: auto;
  max-height: calc(100vh - 200px);
}
#page-alarm section {
  width: 1644px;
}
#page-alarm ul {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -5px 20px;
}
#page-alarm ul li {
  align-items: center;
  flex: 0 0 32%;
  padding-right: 5px;
  padding-left: 5px;
  margin-bottom: 14px;
}
#page-alarm ul li .inner {
  background: var(--primary-bg-color);
  padding: 20px;
  border-radius: 10px;
}
#page-alarm ul li .title {
  font-size: 18px;
  font-weight: 600;
  margin: 0 0 15px;
  color: var(--black-to-white);
}
#page-alarm ul li .content {
  overflow: auto;
  line-height: 22px;
  word-break: keep-all;
  height: 150px;
  color: var(--black-to-white);
  border-radius: 10px;
}
