@charset "utf-8";
/* var */
:root {
  --white-to-black : #fff;
  --black-to-white: #000;
  --primary-bg-color : #fff;
  --second-bg-color: #f3f3f3;
}
.mode-dark {
  --white-to-black : #000;
  --black-to-white: #fff;
  --primary-bg-color : #1d1d29;
  --second-bg-color: #33333e;
}

/* placeholder */
input::placeholder,
textarea::placeholder {
  color: #c2c4c5;
	font-weight: 300;
}
.mode-dark input::placeholder,
.mode-dark textarea::placeholder {
  color: #868788;
}

/* scroll bar */
::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}
::-webkit-scrollbar-track {
  background-color: #ddd;
  border-radius: 10px;
}
::-webkit-scrollbar-thumb {
  background: #aaa;
  border-radius: 10px;
}

/* input */
input[type=text],
input[type=password] {
  color: var(--black-to-white);
}

/* layout */
.column-global {
  min-height: 100vh;
  height: 100%;
  background: #f3f3f3;
}
.column-global:after {
  content: '';
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 11;
  background: transparent;
  visibility: hidden;
  transition: all 0.5s;
}
.column-global.active:after {
  visibility: visible;
  background: rgba(0, 0, 0, 0.3);
}
.column-navi {
  position: fixed;
  height: 100vh;
  z-index: 30;
  width: 216px;
  background: var(--primary-bg-color);
}
.column-content {
  margin-left: 216px;
  max-width: 1704px;
}
.column-content-wrap {
  margin-left: 216px;
  margin-right: 370px;
  max-width: 1704px;
}
.column-comm {
  width: 390px;
  right: 0;
  top: 90px;
  position: fixed;
  z-index: 10;
  padding-right: 30px;
  padding-left: 20px;
}
.mode-dark {
  background-color: #11121e;
}

/* nav */
nav {
  padding: 0 18px;
  position: relative;
  height: 100%;
}
nav h1 {
  height: 120px;
  margin: 20px 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
nav h1 img {
  max-width: 100%;
  max-height: 100px;
}
nav .location {
  position: relative;
  z-index: 10;
}
nav .location span {
  width: 100%;
  height: 48px;
  background: #f3f3f3;
  padding: 5px 40px 5px 18px;
  font-size: 16px;
  font-weight: 500;
  width: 100%;
  display: flex;
  align-items: center;
  position: relative;
  cursor: pointer;
  border-radius: 12px;
  color: var(--black-to-white);
}
nav .location span:before {
  content: '';
  display: block;
  width: 8px;
  height: 6px;
  position: absolute;
  right: 18px;
  top: 50%;
  transform: translateY(-50%);
  background-repeat: no-repeat;
  background-position: left top;
  background-image: url('../images/comp/light/select-arrow-big.png');
}
nav .location ul {
  display: block;
  position: absolute;
  left: 0;
  top: 48px;
  width: 100%;
  overflow: hidden;
  border: 1px solid #e9e9e9;
  border-bottom-right-radius: 12px;
  border-bottom-left-radius: 12px;
  background-color: var(--primary-bg-color);
}
nav .location ul li {
  display: block;
  font-size: 16px;
  padding: 14px 18px;
  border-bottom: 1px solid #e9e9e9;
  cursor: pointer;
  color: var(--black-to-white);
}
nav .location ul li:last-child {
  border-bottom: none;
}
nav .location.active span {
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
nav .menu {
  border-top: 1px solid #e9e9e9;
  padding-top: 40px;
  margin-top: 40px;
}
nav .menu li {
  margin-bottom: 10px;
}
nav .menu li a {
  border-radius: 12px;
  font-size: 16px;
  font-weight: 600;
  color: #C2C4C5;
  display: flex;
  width: 100%;
  height: 48px;
  align-items: center;
  padding-left: 54px;
  position: relative;
}
nav .menu li a.active {
  background: #F2F7FF;
  color: #000;
}
nav .menu li a:before {
  content: '';
  display: block;
  width: 24px;
  height: 24px;
  position: absolute;
  left: 18px;
  top: 50%;
  transform: translateY(-50%);
  background-repeat: no-repeat;
}
nav .menu li a.active:before {
  background-position: right bottom;
}
nav .menu li.monitoring a:before {
  background-image: url('../images/layout/light/nav-menu-moni.png');
}
nav .menu li.device a:before {
  background-image: url('../images/layout/light/nav-menu-device.png');
}
nav .menu li.alarm a:before {
  background-image: url('../images/layout/light/nav-menu-alarm.png');
}
nav .menu li.alarm a:after {
  content: '';
  display: block;
  width: 8px;
  height: 8px;
  border: 2px solid #fff;
  background: #FFBC11;
  border-radius: 20px;
  position: absolute;
  left: 30px;
  top: 12px;
}
nav .mode {
  position: absolute;
  left: 0;
  bottom: 40px;
  width: 100%;
  padding: 0 18px;
}
nav .mode .inner {
  display: block;
  width: 100%;
  height: 48px;
  border-radius: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  font-size: 12px;
  font-weight: 500;
  background: #fff;
  color: #000;
}
nav .mode .icon {
  position: absolute;
  top: 7px;
  width: 34px;
  height: 34px;
  background: red;
  cursor: pointer;
}
nav .mode .icon.type-light {
  left: 8px;
}
nav .mode .icon.type-dark {
  right: 8px;
}
nav .etc {
  position: absolute;
  left: 60px;
  bottom: 50px;
}
nav .etc a {
  font-size: 16px;
  font-weight: 500;
  display: block;
  padding-left: 40px;
  position: relative;
  height: 18px;
  margin-bottom: 30px;
  color: #868788;
  text-align: left;
}
nav .etc a:last-child {
  margin-bottom: 0;
}
nav .etc a:before {
  content: '';
  display: block;
  width: 18px;
  height: 18px;
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  background-repeat: no-repeat;
}
nav .etc .link-setting:before {
  background-image: url('../images/layout/light/nav-setting.png');
}
nav .etc .link-logout:before {
  background-image: url('../images/layout/light/nav-logout.png');
}
.mode-dark nav .menu {
  border-color: #3d3d3d;
}
.mode-dark nav .location span {
  background-color: #33333E;
}
.mode-dark nav .location span:before {
  background-image: url('../images/comp/dark/select-arrow-big.png');
}
.mode-dark nav .location ul {
  border-color: #3d3d3d;
}
.mode-dark nav .location ul li {
  border-color: #3d3d3d;
}
.mode-dark nav .menu li a {
  color: #7b7b7b;
}
.mode-dark nav .menu li a.active {
  color: #11121e;
}
.mode-dark nav .menu li.alarm a:after {
  border-color: #000;
}

/* header */
header {
  position: fixed;
  z-index: 20;
  width: 100%;
  height: 74px;
  padding: 0 30px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  background: #f3f3f3;
}
header .lately {
  position: relative;
  padding-right: 20px;
  margin-right: 20px;
  font-size: 12px;
  color: var(--black-to-white);
}
header .lately:before {
  content: '';
  display: block;
  width: 1px;
  height: 6px;
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  background: var(--black-to-white);
}
header .profile {
  padding-left: 48px;
  margin-right: 30px;
  position: relative;
  font-weight: 600;
  display: block;
  position: relative;
  white-space: nowrap;
  color: var(--black-to-white);
}
header .profile:before {
  content: '';
  display: block;
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 34px;
  height: 34px;
  margin-right: 14px;
  background-repeat: no-repeat;
  background-image: url('../images/layout/light/header-profile-pic.png');
}
header .work {
  min-width: 120px;
  border-radius: 10px;
  background: #fff;
  display: flex;
  align-items: center;
}
header .work a {
  flex: 0 0 50%;
  height: 34px;
  display: block;
  color: #c2c4c5;
  font-size: 16px;
  font-weight: 600;
  border-radius: 10px;
  padding-top: 7px;
}
header .work a.active {
  background: #69b2ff;
  color: #fff !important;
}
.mode-dark header {
  background-color: #11121e;
}
.mode-dark header .profile:before {
  background-image: url('../images/layout/dark/header-profile-pic.png');
}
.mode-dark header .work {
  background-color: #1d1f2f;
}
.mode-dark header .work a {
  color: #484952;
}

/* column-widget */
.column-comm .slider-wrap {
  height: 1010px;
  position: relative;
  margin-top: 24px;
}
.column-comm .slider-wrap .btn-slider-prev,
.column-comm .slider-wrap .btn-slider-next {
  width: 100%;
  height: 20px;
  display: none;
  position: relative;
}
.column-comm .slider-wrap .btn-slider-prev {
  background: linear-gradient(0deg, #fff 0%, rgba(255, 255, 255, 0) 100%);
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  margin-bottom: 8px;
}
.column-comm .slider-wrap .btn-slider-next {
  background: linear-gradient(180deg, #fff 0%, rgba(255, 255, 255, 0) 100%);
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  margin-top: 8px;
}
.column-comm .slider-wrap .btn-slider-prev:before,
.column-comm .slider-wrap .btn-slider-next:before {
  content: '';
  display: block;
  width: 100%;
  height: 8px;
  position: absolute;
  left: 0;
  background-image: url('../images/layout/light/slider-control.png');
  background-repeat: no-repeat;
  background-position: center top;
}
.column-comm .slider-wrap .btn-slider-prev:before {
  top: 0;
  transform: rotate(180deg);
}
.column-comm .slider-wrap .btn-slider-next:before {
  bottom: 0;
}
.column-comm .slider-wrap .btn-slider-prev.end,
.column-comm .slider-wrap .btn-slider-next.end {
  cursor: default;
}
.column-comm .slider-wrap .btn-slider-prev.end:before,
.column-comm .slider-wrap .btn-slider-next.end:before {
  opacity: 0.3;
}
@media screen and (max-height: 1100px) {
  .column-comm .slider-wrap {
    height: 100vh;
    overflow-y: scroll;
    padding-bottom: 150px;
  }
}
.column-comm .slider-wrap.active .btn-slider-prev,
.column-comm .slider-wrap.active .btn-slider-next {
  display: block;
}
.mode-dark .column-comm .slider-wrap .btn-slider-prev:before,
.mode-dark .column-comm .slider-wrap .btn-slider-next:before {
  background-image: url('../images/layout/dark/slider-control.png');
}
.mode-dark .column-comm .slider-wrap .btn-slider-prev {
  background: linear-gradient(0deg, #1d1d29 0%, rgba(29, 29, 41, 0)100%);
}
.mode-dark .column-comm .slider-wrap .btn-slider-next {
  background: linear-gradient(180deg, #1d1d29 0%, rgba(29, 29, 41, 0) 100%);
}

/* main */
main {
  padding: 90px 20px 20px 30px;
  position: relative;
}
